cache/*
data/feed/*.xml
data/stats/*.yml
!cache/.gitignore
log/*
!log/.gitignore
config/databases.yml
config/darwin.yml
config/app.yml
web/favicon.ico
uploads/*
!uploads/report
!uploads/multimedia
uploads/report/*
uploads/multimedia/*
!uploads/report/.empty
!uploads/multimedia/.empty
*~
*.*~ 
*.kate-swp
./.gitignore
apps/public/config/databases.yml
*.save
