[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/eMerzh/symfony-1.4.git
[submodule "web/openlayers"]
	path = web/openlayers
	url = http://github.com/openlayers/openlayers.git
[submodule "plugins"]
	path = plugins
	url = http://github.com/arlo/sfSyslogPlugin.git
[submodule "plugin/sfSyslogPlugin"]
	path = plugin/sfSyslogPlugin
	url = http://github.com/arlo/sfSyslogPlugin.git
