[submodule "web/openlayers"]
	path = web/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "web/qtip2"]
	path = web/qtip2
	url = https://github.com/Craga89/qTip2.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = https://github.com/symfony/symfony1.git
