    <div class="container-fluid footer">
      <div class="row-fluid">
        <footer>
          <ul class="bs-docs-social-buttons">
            <li>{{ site.author.name }}</li>
            <li class="follow-btn fb-like socials">
              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnaturalsciences.github.com%2FDarwin%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
            </li>
            <li class="follow-btn socials">
              <a href="https://twitter.com/nat_sciences" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow us</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
          </ul>
        </footer>
      </div> <!-- /row-->
    </div> <!-- /container -->

    {% include JB/analytics %}
    
  </body>
</html>
