body
{
	min-width: 968px;
	font-size: 10pt;
	font-family:sans-serif;
}

.clear
{
	clear:both;
}

.page
{
	margin-top: 30px;
	margin-left:51px;
	margin-right: 51px;
}

.hidden
{
    display:none;
}

.treelist ul , .treelist ul li
{
    margin-left: 15px;
}
.treelist li
{
    margin: 0.5em;
}

.treelist
{}

.treelist li > ul
{
    display:none;
}

.expanded
{
    display:none;
}

h1
{
    color:#3390a1;
    text-decoration: underline;
    font-size:large;
    margin-bottom: 1em;
}

form th
{
    text-align:left;
    padding: 0.5em;
}
.col_name
{
    margin-left: 0.5em;
    padding:0.1em;
}

.col_name:hover
{
    background-color: #ececec;
}
.col_name span
{
    margin-left: 0.3em;
    padding-left: 0.2em;
    border-bottom: 1px dashed #878988;
}