
.menu_top
{
  background-color: #3390A1;
  height: 32px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2000;
}

.menu_top .highlight
{
    display:none;
}


.sf-menu li.sfHover ul {
	top: 32px;
}
.house img, .exit img
{
	border:0px;
}

ul.main_menu li
{
	display:inline;
	width: 171px;
	height: 32px;
	color:white;
	font-size:10pt; 
/* 	font-weight:600; */
	font-stretch: ultra-expanded;
}

ul.main_menu > li
{
	width: 171px;
	border-left:1px solid white;
	z-index: 500;
}

ul.main_menu > li > a[href]
{
	color:white;
	text-decoration:none;
	padding-top: 10px;
	padding-left: 10px;
}
ul.main_menu > li > ul
{
	margin:0;padding:0;
}
ul.main_menu > li.house
{
	padding:0;
	padding-top: 0px;
	width: 50px;
	text-align:center;
	border-left:none;
}

ul.main_menu > li.house a[href]
{
	padding:2px;
}


/*** WARNING CRAP PLACEMENT :p ***/
ul.main_menu > li.exit
{
	/*position:absolute;
	right:0;*/
	float:right;
	padding:0;
	width: 50px;
	text-align:center;
}
ul.main_menu > li.exit a[href]
{
	padding-top:3px;
}


ul.main_menu > li > ul
{
	background-color:#a9d4db;
	margin-top:3px;
	min-width:168px;
/* 	max-width: 300px !important; */
}
ul.main_menu > li > ul > li:hover
{
	background-color:#ebf5f5;
}
ul.main_menu > li > ul > li  a[href]
{
	color:#1f7987;
	text-decoration:none;
	padding-left: 10px;
	padding-top: 8px;
}

ul.main_menu > li > ul >li > ul
{
	background-color:#ebf5f5;
}
ul.main_menu > li > ul >li > ul > li:hover
{
	background-color:#a9d4db;
}

ul.main_menu > li > a > .sf-sub-indicator
{
	display:none;
}

/** ul.main_menu > li:hover img.highlight **/
ul.main_menu > li.sfHover img.highlight
{
	display:block;
	margin-top:6px;
	z-index: 2;
	position:absolute;
	left:15px;
}


/***********************
 * 
 * SUPERFISH MENU
 * 
 ***********************/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin:     0;
  padding:    0;
  list-style:   none;
}
.sf-menu {
  line-height:  1.0;
}
.sf-menu ul {
  position:   absolute;
  top:      -999em;
  width:      10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
/*  width:      100%; */
}
.sf-menu li:hover {
  visibility:   inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
  float:      left;
  position:   relative;
}
.sf-menu a {
  display:    block;
  position:   relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left:     0;
  top:      2.5em; /* match top ul list item height */
  z-index:    1;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left:     10em; /* match ul width */
  top:      0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left:     10em; /* match ul width */
  top:      0;
}

