.all_content
{
  height: 100%
}

.header_menu
{
  height: 174px;  
}

.menu_top
{
  background: #474747 url(/images/photo_bckg.jpg) no-repeat; 
  background-position:center top;
  height: 151px;
}

.main
{
  margin-top : 15px ;
  min-height: 600px ;
}

.main td
{
  vertical-align:top ;
}

.menu_bottom
{
  background: #404040 repeat-y; 
  position: relative;
	min-height: 50px ;
	clear:both;  
}

.menu_top table
{
  width:700px;
  font-size: 12pt ;
  margin-left:auto;
  margin-right: auto;  
}

.menu_top table td
{
  vertical-align: bottom ; 
  float: right ;
}

.menu_link > li 
{
  min-height:1em;
  min-width:1em;
  margin-bottom:2em;
  cursor: pointer;
  float:left;
  padding:0.2em;
  margin:0.7em;
}

.menu_link > li > a
{
  text-decoration: none ; 
  text-transform : uppercase;
  color: #d8d5d5 ;  
} 

.menu_link > li > a:hover
{
  text-decoration: underline ;  
  color: #FFFFFF ;
} 

.blue_line
{
  z-index: 400; 
  background:  #3390A1 repeat-x;
  height: 23px ;
  text-align : center ;  
}

.blue_line_right
{
  z-index: 400; 
  background: #3390A1 url(/images/corner.png) no-repeat ;
  height: 32px ;
}

.blue_line table td
{
  width:50% ;
  height: 32px ;    
}

/* style for the login section */

.register_form table
{
  float:left; 
  height:32px ;  
  text-decoration:none;   
  vertical-align:middle ;
  width : 450px ;
}

.register_form input[type=password]
{
  background: white url(/images/key.png) no-repeat 3px 0px;
  padding-left:2em;
  background-color: white ;
}

.register_form input#login_username
{
  background: white url(/images/user.png) no-repeat 3px 0px;
  padding-left:2em;
  background-color: white ;  
}

.test
{
  border: 1px ridge white ;
}

.register_form input
{
  border: 1px ridge white ;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;	  
  background-color : #5baabd ;
}

.register_form .menu_button a
{
  color: black ;
  text-decoration: none ;
  margin-top : 7px;
  width:132px;
  font-size: 9pt;      
}

.register_form #login_bt input
{
  color: black ;
  text-decoration: none ;
  width:36px;
  font-size: 7pt;
  vertical-align:top;
  border:0;
  background-color:transparent;
}

.register_form .menu_button
{
  background-image: url(/images/button_blue.png)   ;
  background-position: center center ;
  background-repeat : no-repeat ;
  width:132px ;  
}

.register_form #login_bt
{
  background-image: url(/images/next_button_blue.png)   ;
  background-position: center center ;
  background-repeat : no-repeat ; 
  width:36px ;
}

.login_error
{
  color:red;
  font-weight:bold;
  text-shadow: white 1px 1px 1px;
  text-align:right;
  margin-right:1em;
  margin-bottom:8px;
}


#login_bt a:hover, .menu_button a:hover
{
  color : #474747; 
  text-decoration: underline ;  
}

.register_form td.field
{
  width : 110px ;
}

input.small 
{
  margin : 1px;
  width:110px;     
  height: 14px;
  font-size: 9pt;   
  color : black ;   
}

.menu_bottom div
{
  color : #d8d5d5 ;
  text-decoration: none ;   
  margin-right : 1em ;
}

.menu_bottom div:hover
{
  cursor : pointer ;
  color : white ;
  text-decoration: underline ;    
}
