{% include header.html %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav"> <!-- well class?-->
              <ul class="nav nav-pills nav-stacked nav-tabs">
                <li class="{% if page.menu == 'home' %}active{% endif %}"><a title="DaRWIN Home" href="{{ BASE_PATH }}/"><i class="icon-home"></i> Home</a></li>
                <li class="{% if page.menu == 'discover' %}active{% endif %}"><a href="{{ BASE_PATH }}/discover.html"><i class="icon-eye-open"></i> Discover</a></li>
                <li class="{% if page.menu == 'screenshots' %}active{% endif %}"><a href="{{ BASE_PATH }}/screenshots.html"><i class="icon-picture"></i> Screenshots</a></li>
                <li class="{% if page.menu == 'news' or page.category == 'news' %}active{% endif %}"><a href="{{ BASE_PATH }}/news.html"><i class="icon-globe"></i> News</a></li>
                <li class="{% if page.menu == 'doc' %}active{% endif %}"><a href="{{ BASE_PATH }}/doc/"><i class="icon-book"></i> Documentation</a></li>
                <li class="{% if page.menu == 'download' %}active{% endif %}"><a href="{{ BASE_PATH }}/download.html"><i class="icon-circle-arrow-down"></i> Download</a></li>
                <li class="{% if page.menu == 'contacts' %}active{% endif %}"><a href="{{ BASE_PATH }}/contacts.html"><i class="icon-comment"></i> Contacts</a></li>
              </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit">
            {{ content }}
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div> <!-- /container -->
{% include footer.html %}